:root {
    /* Background Colours */
    --bg-standard:  #181818;
    --bg-dark:      #121212;
    --bg-light:     #2C2C2C;

    /* Secondary Colours */
    --secondary-bright:  #0fd977;
    --secondary-muted:   #12B392;
}

/* General Element Styling */

* {
    margin: 0;
    max-width: 100%;
    color: white;
}
body {
    background-color: var(--bg-standard);
    font-family:Arial, Helvetica, sans-serif
}
p {
    font-size: 1.1rem;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 1.5rem;
    font-weight:600;
}

/* Hero Styling */

.hero{
    display: flex;
    align-items:  center;
    justify-content:  center;
    gap: 1rem;
    padding: 50px;
    border-bottom: solid var(--secondary-muted) 0.1rem;

    background: var(--bg-standard);
    background: linear-gradient(23deg, rgba(18, 18, 18, 1) 0%, rgba(18, 18, 18, 1) 55%, rgba(16, 158, 130, 1) 72%, rgba(12, 176, 97, 1) 84%, rgba(15, 217, 119, 1) 96%);

    img {
        max-height: 40vh;
        border: black solid 1px;
        border-radius: 0.5rem;
    }
    .hero-text {
        max-width: 600px;
        display: flex;
        flex-direction: column;
    }
    nav{
        display: inline;
        img {
            width: 2rem;
        }
    }
    a {
        margin: 1.5rem 0;
        width: fit-content;
    }
}

/* Button Styling*/

.button{
    background-color: var(--secondary-bright);
    padding: 1rem;
    text-decoration: none;
    transition: background-color 0.2s ease-in, box-shadow 0.2s ease-in;
}

.button:hover {
    background-color: var(--secondary-muted);
    box-shadow: 0 4px 12px var(--secondary-muted);
}

.github_link {
    padding: 0.25rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: black;

}

/* Skills Styling */

.skills {
    margin: 2rem 5vw;
    background-color: var(--bg-dark);
    padding: 1rem;
    border: solid var(--secondary-muted) 0.1rem;
    border-radius: 1.5rem;
}

.skills-box{
    margin-top: 1rem;
    background-color: var(--bg-dark);
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;

    span{
        flex-grow: 1;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        background-color: var(--bg-light);
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        border: var(--secondary-muted) solid 0.1rem;
    }

    img{
        width: 2.5rem;
    }
}

/* Projects Styling */

.projects{
    margin: 2rem 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    .project-section-title{
        max-width: 1200px;
        width: 100%;
    }
    h2 {
        margin-bottom: 1rem;
    }
}

.projects-box{
    display: grid;
    max-width: 1200px;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.project-card{
    border: solid var(--secondary-muted) 0.1rem;
    border-radius: 1.5rem;
    background-color: var(--bg-dark);
    padding: 1rem;
}

.card-container {
    display: flex;
    flex-direction: column;
    height: calc(100% - 2rem);
    padding: 1rem;
    background-color: var(--bg-light);
    border: var(--secondary-muted) solid 0.1rem;
    border-radius: 1.5rem;
    h3 {
        font-size: 1.4rem;
    }
    p {
        margin: 1rem 0;
        margin-top: max(auto, 1rem);
    }
    > img {
        aspect-ratio: 1 / 1;
        border-radius: 1.5rem;
        object-fit: cover;
        border: var(--bg-dark) 0.2rem solid;
    }
}

.project-title {
    margin-bottom: -2.6rem;
    position: relative;
    display: flex;
    justify-content: center;

    h3{
        padding: 0.5rem 2rem;
        background-color: var(--bg-dark);
        border-radius: 0 0 4rem 4rem;
    }
}

.project-skills{
    display: flex;
    margin-top: -3rem;
    span{
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;
        background-color: var(--bg-dark);
        padding: 0.25rem 0.25rem;
    }
    span:first-of-type{
        padding-left: 0.75rem;
        border-bottom-left-radius: 1rem;
    }
    span:last-of-type{
        border-top-right-radius: 1rem;
        padding-right: 0.75rem;
    }
    img{
        width: 2.5rem;
    }
}

.project-links{
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    img {
        width: 3rem;
    }
    .button:first-of-type{
        border-bottom-left-radius: 1.5rem;
        border-top-left-radius: 1.5rem;
    }
    .button:last-of-type{
        border-bottom-right-radius: 1.5rem;
        border-top-right-radius: 1.5rem;
    }
    .button {
        flex: 1;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .github_link{
        flex: 1
    }
}