/* Colour Variables */
:root {
    /* Background Colours */
    --bg-standard:      #181818;
    --bg-dark:          #121212;
    --bg-light:         #2C2C2C;

    /* Secondary Colours */
    --secondary-bright: #0fd977;
    --secondary-muted:  #12B392;

    /* Tertiary Colours */
    --purple:           #9125cf;
    --blue:             #0f92d9;
}

/* General Element Styling */

* {
    margin: 0;
    max-width: 100%;
    color: white;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-standard);
    font-family:Arial, Helvetica, sans-serif
}
p, a{
    font-size: 1.1rem;
    letter-spacing: 0.01rem;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 1.5rem;
    font-weight:600;
}

section {
    margin: 2rem 10vw;
}

/* Footer Styling */

footer {
    background: var(--bg-dark);
    border-top: var(--secondary-muted) solid 0.1rem;
    min-height: 30vw;
    margin-top: 4rem;
}

footer > section {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    flex-wrap: wrap;

    li {
        margin-bottom: 0.25rem;
    }
    h2 {
        margin-bottom: 0.5rem;
    }
}

/* Hero Styling */

.hero{
    display: flex;
    align-items:  center;
    justify-content:  center;
    gap: 1rem;
    padding: 50px;
    border-bottom: solid var(--secondary-muted) 0.1rem;
    margin: 0;

    background: var(--bg-standard);
    background: linear-gradient(23deg, rgba(18, 18, 18, 1) 0%, rgba(18, 18, 18, 1) 55%, rgba(16, 158, 130, 1) 72%, rgba(12, 176, 97, 1) 84%, rgba(15, 217, 119, 1) 96%);

    img {
        max-height: 40vh;
        max-width: 45%;
        border: black solid 1px;
        border-radius: 0.5rem;
    }
    .hero-text {
        max-width: 600px;
        display: flex;
        flex-direction: column;
    }
    nav{
        display: inline;
        img {
            width: 2rem;
        }
    }
    a {
        margin: 1.5rem 0;
        width: fit-content;
    }
}

/* Button Styling*/

.button{
    color: black;
    background-color: var(--secondary-bright);
    padding: 1rem;
    text-decoration: none;
    transition: background-color 0.2s ease-in, box-shadow 0.2s ease-in;
}

.button:hover {
    background-color: var(--secondary-muted);
    box-shadow: 0 4px 12px var(--secondary-muted);
}

.github_link {
    color: white;
    padding: 0.25rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: black;

}

/* Skills Styling */

.skills {
    background-color: var(--bg-dark);
    padding: 1rem;
    border: solid var(--secondary-muted) 0.1rem;
    border-radius: 1.5rem;
}

.skills-box{
    margin-top: 1rem;
    background-color: var(--bg-dark);
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;

    span{
        flex-grow: 1;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        background-color: var(--bg-light);
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        border: var(--secondary-muted) solid 0.1rem;
    }

    img{
        width: 2.5rem;
    }
}

/* Projects Styling */

.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    .project-section-title{
        max-width: 1200px;
        width: 100%;
    }
    h2 {
        margin-bottom: 1rem;
    }
}

.projects-box{
    display: grid;
    max-width: 1200px;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.project-card{
    border: solid var(--secondary-muted) 0.1rem;
    border-radius: 1.5rem;
    background-color: var(--bg-dark);
    padding: 1rem;
}

.card-container {
    display: flex;
    flex-direction: column;
    height: calc(100% - 2rem);
    padding: 1rem;
    background-color: var(--bg-light);
    border: var(--secondary-muted) solid 0.1rem;
    border-radius: 1.5rem;
    h3 {
        font-size: 1.4rem;
    }
    p {
        margin: 1rem 0;
    }
    > img {
        aspect-ratio: 1 / 1;
        border-radius: 1.5rem;
        object-fit: cover;
        border: var(--bg-dark) 0.2rem solid;
    }
}

.project-title {
    margin-bottom: -2.7rem;
    position: relative;
    display: flex;
    justify-content: center;

    h3{
        padding: 0.5rem 2rem;
        background-color: var(--bg-dark);
        border-radius: 0 0 4rem 4rem;
    }
}

.project-skills{
    display: flex;
    margin-top: -3rem;
    span{
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;
        background-color: var(--bg-dark);
        padding: 0.25rem 0.25rem;
    }
    span:first-of-type{
        padding-left: 0.75rem;
        border-bottom-left-radius: 1.5rem;
    }
    span:last-of-type{
        border-top-right-radius: 1.5rem;
        padding-right: 0.75rem;
    }
    img{
        width: 2.5rem;
    }
}

.project-links{
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    img {
        width: 3rem;
    }
    .button:first-of-type{
        border-bottom-left-radius: 1.5rem;
        border-top-left-radius: 1.5rem;
    }
    .button:last-of-type{
        border-bottom-right-radius: 1.5rem;
        border-top-right-radius: 1.5rem;
    }
    .button {
        flex: 1;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .github_link{
        flex: 1
    }
}

/* Education Styling */

.education {
    border: solid 0.1rem var(--purple);
    border-radius: 1.5rem;
    background-color: var(--bg-dark);
    padding: 1rem;

    h2, h3 {
        margin-bottom: 1rem;
    }
}

.education-container{
    background-color: var(--bg-light);
    border: solid 0.1rem var(--purple);
    border-radius: 1.5rem;
    padding: 1rem;
}

.education-area{
    background-color: var(--bg-light);
    display: grid;
    grid-template-columns: 0.75fr 1fr 2fr;
    gap: 0.5rem 1.5rem;

    article {
        grid-column: span 2;
        display: flex;
        flex-direction: column;
        h4{
            margin-top: 1rem;
        }
        p {
            margin-top: 0.5rem;
            margin-bottom: 1rem;
        }
        p:last-of-type{
            margin-bottom: 0;
        }
    }

    .main-image {
        width: 100%;
        margin: auto;
    }
    a {
        color: var(--purple);
    }

    .bcs-image {
        display: flex;
        justify-content: flex-end;
        grid-column-start: 3;
        max-height: 100px;
        max-width: 100%;

        img {
            height: 100%;
        }
    }

    > p {
        background-color: var(--bg-dark);
        height: fit-content;
        margin-top: auto;
        padding: 0.5rem;
        border-radius: 0.5rem;
        border: solid 0.1rem white;
    }
}

/* Certification Styling*/

.certifications {
    padding: 1rem;

    background-color: var(--bg-dark);
    border: solid var(--secondary-muted) 0.1rem;
    border-radius: 1.5rem;
    h2 {
        margin-bottom: 1rem;
    }
}

.certification-area{
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    padding: 1rem;
    background-color: var(--bg-light);
    border: solid var(--secondary-muted) 0.1rem;
    border-radius: 1.5rem;

    .cert{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    img {
        aspect-ratio: 1 / 1;
        max-width: 150px;
    }
}

/* Contact Me Styling */

.contact-wrapper {
    background: var(--bg-dark);
    border: solid var(--blue) 0.1rem;
    border-radius: 1.5rem;
    margin: 0 auto;
    min-width: fit-content;
    max-width: 1200px;
    padding: 1rem;
    h2 { padding-bottom: 1rem; }
}

.contact-area{
    background: var(--bg-light);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border: solid var(--blue) 0.1rem;
    border-radius: 1.5rem;
    gap: 1rem;
}

.contact-area > img {
    max-height: 40vh;
    max-width: 45%;
    border: 0.2rem var(--bg-dark) solid;
    border-radius: 1.5rem;
}


.contacts-list {
    margin: 0 auto;
    display: grid;
    width: max-content;
    grid-template-columns: max-content auto 1fr;
    gap: 0.5rem 1.5rem;
    padding: 0 1rem;
    a, p {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        height: 100%;
    }
    a:has(img), p:has(img)  {
        justify-content: right;
    }
    img {
        max-width: 50px;
    }
}

/* Projects Page */
.main-video {
    max-width: 100%;
    margin: 2rem auto;
    /*border: 0.1rem solid var(--secondary-muted);*/
    border-radius: 1rem;
}

.projects-page {
    background: #2C2C2C;
    background: linear-gradient(31deg,rgba(44, 44, 44, 1) 0%, rgba(48, 48, 48, 1) 100%);

    margin: 0 10vw;
    section {
        margin: 0 auto;
        padding: 4rem;
        background: var(--bg-dark);
        min-height: 100svh;
        max-width: 1000px;
    }
    h1 {
        width: fit-content;
        margin: 0 auto;
        font-size: 3rem;
    }
    h2 {
        font-size: 2rem
    }
    p {
        font-size: 1.15rem;
        margin: 0.25rem 0 1.5rem;
    }
}
